 <!DOCTYPE html>
 <html>
 <head>
 	<title>Registro Alumno</title>

 	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link  rel="shortcut icon" href="imagen/favicon.png">

                  <link rel="stylesheet" type="text/css" href="css/alertify.core.css">
                                    <link rel="stylesheet" type="text/css" href="css/alertify.default.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
	p{
		height: 
	}

</style>

 </head>
 <body>

<!-- <form method="POST" action="/api/alumno" enctype="multipart/form-data" >
 -->	
<br>
<br>
<br>
<br>
<div class="container">

<div class="row">



<div class="col-md-3 col-md-offset-2">

<label for="matricula" >Matricula: </label>
<input type="text" name="matricula" id="matricula" placeholder="Matricula...">


<br><br>


<label for="nombre">Nombre: </label>
<input type="text" name="nombre" id="nombre" placeholder="Nombre...">

<br><br>


<label for="apellidos">Apellidos: </label>
<input type="text" name="apellidos" id="apellidos" placeholder="Apellidos...">

<br><br>


<label for="semestre">Semestre: </label>
<input type="text" name="semestre" id="semestre" placeholder="Semestre...">

<br><br>


<label for="grupo">Grupo: </label>
<input type="text" name="grupo" id="grupo" placeholder="Grupo...">

<br><br>


<input  type="file" id="img" name="img" >

<br><br>



<button class="btn btn-success btn-xs" id="send"><span class="glyphicon glyphicon-save"></span> Enviar</button>

</div>





<div class="col-md-1 col-md-offset-1">
<img id="image" src="imagen/user_image.jpg" class="img-rounded" height="300px" name="image">
</div>




</div>

</div >

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ab, odit repellendus voluptas accusamus porro! Libero, maxime, iusto repellendus, fuga quasi laborum ab quae, exercitationem quam repellat voluptatibus beatae voluptates!
</p>

		<script src="lib/jquery.js"></script>
                <script src="lib/alertify.min.js"> </script>

		<script type="text/javascript" src="lib/bootstrap.min.js"></script>


<script type="text/javascript"  src="js/subir.js"></script>
 

 </body>
 </html>



<!-- 
 <div class="row">

<div class="col-md-5 col-md-offset-2">
<label for="matricula">Matricula: </label>
<input type="text" name="matricula" id="matricula" placeholder="Matricula...">
</div>

<div class="col-md-1 col-md-offset-2">
<img id="image" src="imagen/user_image.jpg"  height="200px" name="image">
</div>


</div>

<br>

<div class="row">
<label for="nombre">Nombre: </label>
<input type="text" name="nombre" id="nombre" placeholder="Nombre...">
</div>

<br>

<div class="row">
<label for="apellidos">Apellidos: </label>
<input type="text" name="apellidos" id="apellidos" placeholder="Apellidos...">
</div>

<br>

<div class="row">
<label for="semestre">Semestre: </label>
<input type="text" name="semestre" id="semestre" placeholder="Semestre...">
</div>

<br>

<div class="row">
<label for="grupo">Grupo: </label>
<input type="text" name="grupo" id="grupo" placeholder="Grupo...">
</div>

<br>

<div class="row">
<input type="file" id="img" name="img" >
</div>

<br>



<br>

<div class="row">
<button class="btn btn-success btn-xs" id="send"><span class="glyphicon glyphicon-save"></span> Enviar</button>
</div> -->